@import '../../colors.scss';

.content {
    color: $light-red;
    background: $red;
    padding: 1rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .back-icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        mat-icon ::ng-deep svg path {
            fill-opacity: 0.5;
        }

        &.hide {
            visibility: hidden;
        }
    }

    .logo {
        flex: 1;
        display: flex;
        justify-content: center;

        img {
            max-height: 1.5rem;
            width: auto;
        }
    }

    .menu-icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/* for tablets */
@media (min-width: 600px) and (max-width: 900px) {
    .back-icon {
        padding-left: 2.5rem !important;
    }

     .menu-icon {
        padding-right: 2.5rem !important;
    }
}

/* for laptops or larger screens */
@media (min-width: 900px) {
    .back-icon {
        padding-left: 7em !important;
    }

    .menu-icon {
        padding-right: 7rem !important;
    }
}