<div *ngIf="planet" class="content">
    <img [src]="planet.imageUrl" alt="planet image">
    <div class="name"><b>
            {{planet.name | uppercase}}
        </b></div>
    <div *ngIf="planet?.description; else noDescription" class="description">
        "{{planet.description}}"
        <span *ngIf="captainName"><em>- Captain: {{captainName}}</em></span>
    </div>
    <ng-template #noDescription>
        <div class="description">{{ noDescriptionText }}</div>
    </ng-template>
    <div *ngIf="robotNames" class="robots">
        Robots involved in the exploration:
        <span *ngFor="let robot of robotNames; let last = last">
            {{ robot }}
            <ng-container *ngIf="!last">, </ng-container>
        </span>
        <span>.</span>
    </div>
    <div class="status">
        Status:
        <span class="planet-status" [ngClass]="cssClass">
            <b>{{status}}</b>
        </span>
    </div>
    <hr>
    <div class="actions">
        <button mat-raised-button (click)="navigateToEdit(planet)">Edit</button>
        <button mat-raised-button (click)="deletePlanet(planet.id)">Delete</button>
    </div>
</div>