@import '../../../../colors.scss';
@import '../../../../typography.scss';

.content {
    @extend .text-sm;
    margin-bottom: 1rem;
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .mat-mdc-card-content {
        padding: 0.5rem;
    }

    .section {
        display: flex;
        flex-direction: column;

        &.left {
            width: 25%;
            display: flex;
            align-items: center;

            img {
                margin-bottom: 0.5rem;
                width: 4rem;
                height: auto;
            }

            .planet-name {
                text-align: center;
            }
        }

        &.middle {
            width: 50%;

            .description {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3; 
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: justify;
            }

            .captain, .robots {
                @extend .text-xs;
            }
        }

        &.right {
            width: 20%;

            .planet-status {
                text-align: right;
            }
        }
    }
}

/* for tablets */
@media (min-width: 600px) and (max-width: 900px) {
    .content {
        font-size: 1rem;

        .mat-mdc-card-content {
            padding: 0 1rem;
        }

        .section {
            &.left {
                img {
                    width: 5rem;
                    height: auto;
                }
            }
        }
    }
}

/* for laptops or larger screens */
@media (min-width: 900px) {
    .content {
        font-size: 1rem;

        .mat-mdc-card-content {
            padding: 0 2rem;
        }

        .section {
            &.left {
                img {
                    width: 6rem;
                    height: auto;
                }
            }
        }
    }
}