<mat-card *ngIf="planet" class="content" (click)="onPlanetClick(planet)">
    <mat-card-content class="section left">
        <img [src]="planet.imageUrl">
        <div class="planet-name"><b>
                {{planet.name | uppercase}}
            </b></div>
    </mat-card-content>

    <div *ngIf="planet.description; else noDescription" class="section middle">
        <mat-card-content>
            <div class="description">"{{planet.description}}"</div>
            <div>{{planet.robots}}</div>
        </mat-card-content>
    </div>
    <ng-template #noDescription>
        <mat-card-content class="section middle">
            <div>{{noDescriptionText}}</div>
        </mat-card-content>
    </ng-template>

    <mat-card-content class="section right">
        <div class="planet-status" [ngClass]="cssClass"><b>
                {{status}}
            </b></div>
    </mat-card-content>
</mat-card>