.content {
  padding: 1rem;
}

/* for tablets */
@media (min-width: 600px) and (max-width: 900px) {
  .content {
    padding: 1rem 4rem;
  }
}

/* for laptops or larger screens */
@media (min-width: 900px) {
  .content {
    padding: 1rem 8rem;
  }
}