$red: #a34858;
$light-red: #f9dfde;
$white: white;

//status colors
$blue-en-route: #178dd1;
$green-ok: #09ce62;
$red-not-ok: #db4126;
$grey-todo: #a1a1b1;

$red-gradient: linear-gradient(180deg, #d75e4d 0%, #a34858 100%);