@import './card.scss';
@import './colors.scss';
@import './typography.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.planet-status {
    &.blue-text {
        color: $blue-en-route;
    }

    &.grey-text {
        color: $grey-todo;
    }

    &.green-text {
        color: $green-ok;
    }

    &.red-text {
        color: $red-not-ok;
    }
}